*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body,.wrap{
    width:100%;
    height:100%;
}
body{
    font-size:.32rem;
    width: 7.5rem;
    max-width: 1080px;
}
a{
    text-decoration:none;
    color:#000;
}
i,em{
    font-style:normal;
}
b,strong{
    font-weight:normal;
}
ul,li,ol{
    list-style:none;
}
.wrap{
    display:flex;
    flex-direction:column;
}